<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/home/neer/Desktop/testing/static/css/style.css">
	<!-- <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Crimson+Pro"> -->
		  <link rel="preconnect" href="https://fonts.googleapis.com">
		  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Radio+Canada&family=Roboto+Flex:opsz,wdth,wght@8..144,95.9,711&display=swap" rel="stylesheet">
		  
		  <style>
			@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Radio+Canada&family=Roboto+Flex:opsz,wdth,wght@8..144,95.9,711&display=swap');
			</style> 

</head>
<body>
	<main>
		<article>
			<!-- <h1 class="h1">Instagram Bot</h1> -->
			<!--DEMO HTML -->
			<canvas class="confetti" id="canvas"></canvas>
			<!--End DEMO HTML -->

		</article>
	</main>
	<div>
		<h1 class="h1">Instagram Bot</h1></div>
		<div class="login-box">
			<!-- <h2>Login</h2> -->
			<form method="POST" action="/my-link/">
				<div class="user-box">
					<input type="text" name="email" >
					<label>Email</label>
				</div>
				<div class="user-box">
					<input type="text" name="user" >
					<label>Username</label>
				</div>
				<div class="user-box">
					<input type="password" name="pass" >
					<label>Password</label>
				</div>
				<!-- <input class="form-submit-button" type="submit" name="submit" value="Submit"> -->
				<div class="btn-group">
					<button type="submit" name="login" class="btn"><a href="/my-link/">get followers</a></button>
					<button type="button" class="btn"><a href="/my-link1/">send a message to every follower</a></button>
					<button type="button" class="btn"> <a href="/my-link2/"> generate report</a> </button>
				</div>
			</form>
				
			
		</div>
		<script src="/home/neer/Desktop/testing/static/js/confetti.js"></script>
	
</body>
</html>
